@import '../../../styles/mixins';

.authNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-size(tablet) {
    flex-direction: row;
  }
}

.nav_link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: black;
  &:not(:last-child) {
    margin-right: 0;
    @include for-size(tablet) {
      margin-right: 15px;
    }
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.nav_linkActive {
  color: rgb(92, 164, 182);
}
