.form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  //   &:not(:last-child) {
  //     margin-bottom: 15px;
  //   }
}

.container {
  margin: 0 auto;
  width: 500px;
}
